body {
	padding: 0;
	margin: 0;
	border: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	/*overflow: hidden;*/
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.UIStage {
	width: 100px;
	background-color: black;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	justify-content: flex-start;
}

#stage1 {
	padding-right: 10px;
}

#stage2 {
	padding-left: 10px;
	/*border-radius: 20px;*/
	border-left: 1px solid rgba(255,255,255,0.4);
}

.largeButton {
	flex: 0 0 auto;
	position: relative;
	margin: 10px;
	width: 80%;
	/*display: flex;*/
	align-items: flex-end;
	justify-content: center;
	display: none;
}

.largeButton > .detector {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	z-index: 1000;
	cursor: pointer;
}

.largeButton > .background {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	opacity: 0.2;
	display: none;
	z-index: 500;
}

.detector:active ~ img {
	opacity: 1 !important;
	z-index: 750;
}

.detector:active ~ .background {
	display: inline-block !important;
}

.detector:hover ~ img {
	opacity: 0.7;
}

.largeButton > img {
	width: 100%;
	opacity: 0.4;
}

#back, #no {
	order: -1;
}

.largeButton.spacer {

}

canvas {
    display: block;
}