body {
	padding: 0;
	margin: 0;
	border: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	background-color: white;
	align-items: center;
	justify-content: center;
}

#leftUI, #rightUI {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	flex: 0 0 auto;
	width: 100px;
}

#leftUI {
	border-right: 2px solid grey;
}

#rightUI {
	border-left: 2px solid grey;
}

#solarUI {
	width: 100vmin;
	height: 100vmin;
}

canvas {
    display: block;
}