html { font-size: 14px; }
body {
	padding: 0;
	margin: 0;
	font-family: monospace;
}
body > div {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
a {
	color: #eee;
	text-decoration: underline;
	font-weight: bolder;
}



#ui {
	transition: opacity 1s;
}
#ui > * > * {
	z-index: 100;
}
#mouse {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
.awake {
	opacity: 1;
}
.asleep {
	opacity: 0;
}
#ui > #data {
	flex: 1 1 auto;
	height: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 6rem 0 6rem;
}
.uipadding {
	width: 6rem;
	flex: 0 0 auto;
}
.uibar {
	height: 4rem;
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.icon, #input, .start {
	opacity: 0.6;
	background-color: transparent;
	box-sizing: content-box;
	border: 0;
	border-bottom: 1px solid #eee;
}
.icon {
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	margin: 0.5rem 0.3rem 0.5rem 0.3rem;
	
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.icon:hover, #input:hover, #loaded:hover { opacity: 0.75; }
.icon.focused, #input:focus, #loaded:focus { opacity: 0.9; border-bottom-width: 2px; }
#input:focus { margin-bottom: -1px; }
.icon.active, #loaded:active { opacity: 0.9; background-color: #222; }
#input, #number {
	color: #eee;
	text-align: center;
}
#number {
	font-size: 1rem;
	height: 1.5rem;
	margin: 0.5rem;
	cursor: default;
}
#number::selection { background-color: transparent; }
#number::-moz-selection { background-color: transparent; }

#input {
	outline: 0;
	height: 2.7rem;
	font-size: 1.5rem;
	padding: 0.125rem;
	white-space: pre;
	overflow: hidden;
	resize: none;
}


#graphics {
	background-color: black;
}

#modalContainer {
	transition: z-index 1s;
	z-index: -1000;
}
.modal {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	opacity: 0;
	transition: opacity 1s;
	background-color: rgba(0,0,0,0.5);
}
.modal .icon#close {
	width: 2rem;
	height: 2rem;
	border-bottom: 0;
	position: absolute;
	top: 0px;
	left: -2.5rem;
	padding: 0;
}
.modal.focused {
	opacity: 1;
	z-index: 10;
}
.modal.focused > .content {
	margin-top: 0rem;
}
.modal > .content {
	transition: margin-top 1s;
	margin-top: 2rem;
	min-height: 100px;
	position: relative;
	color: rgba(249,249,249,0.9);
	padding: 0.5rem;
	border-bottom: 1px solid rgba(249,249,249,0.60);
	background-color: rgba(0,0,0,0.75);
	cursor: default;
}

#credits {
	white-space: pre;
}
.progress {
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 0.5rem;
	border-radius: 0.2rem;
	padding: 0.5rem;
	text-align: center;
	display: block;
	cursor: pointer;
	transition: background-color 2s;
}
#intro > .content {
	border-bottom: 0;
}
#loaded {
	background-color: rgba(249,249,249,0.2);
	color: white;
}
#intro > .content > * {
	display: table;
	margin-right: auto;
	margin-left: auto;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}
#logo {
	display: block;
	margin: 0;
	animation: spin 200s infinite linear;
}
#logoText {
	display: block;
	margin: 0;
	background-image: url(../data/text.svg);
	background-position: 50% 50%;
	background-size: 200px 200px;
	height: 50px;
	width: 200px;
}

.icon#close {
	background-image: url(../data/mi/close.svg);
}
.icon#view {
	/*background-image: url(../data/interface-icons/min2/view.svg);
	*/background-image: url(../data/mi/view.svg);
}
.icon#edit {
	background-image: url(../data/interface-icons/min2/edit.svg);
}
.icon#share {
	background-image: url(../data/mi/share.svg);
	background-size: 80% 80%;
	background-position: 20% 50%;
}
.icon#orbit {
	background-image: url(../data/mi/orbit.svg);
}
.icon#move {
	/*background-image: url(../data/interface-icons/min2/move.svg);
	*/
	/*background-image: url(../data/mi/pan.svg);
	background-size: 70% 70%;
	background-position: 35% 50%;*/
	background-image: url(../data/mi/move.svg);
}
.icon#zoom-in {
	/*background-image: url(../data/interface-icons/min2/zoom-in.svg);
	*/background-image: url(../data/mi/zi.svg);
}
.icon#zoom-out {
	/*background-image: url(../data/interface-icons/min2/zoom-out.svg);
	*/background-image: url(../data/mi/zo.svg);
}
.icon#zoom {
	background-image: url(../data/mi/z.svg);
}
.icon#rotate {
	background-image: url(../data/interface-icons/min2/rotate.svg);
}
.icon#paint {
	background-image: url(../data/interface-icons/min2/paint.svg);
}
.icon#link {
	background-image: url(../data/mi/link.svg);
}
.icon#download {
	/*background-image: url(../data/interface-icons/min2/download.svg);
	*/background-image: url(../data/mi/dl.svg);
	/*border: 1px solid #eee;
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: 50% 50%;*/
}
.icon#reddit {
	background-image: url(../data/interface-icons/min2/reddit.svg);
}
.icon#facebook {
	background-image: url(../data/interface-icons/min2/facebook.svg);
}
.icon#twitter {
	background-image: url(../data/interface-icons/min2/twitter.svg);
}
